﻿@model IEnumerable<FrontEnd.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}

<h1>Jobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
               Created at
            </th>
            <th>
               Expires at
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>  item.ExpiresAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.JobId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.JobId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
            </td>
        </tr>
}
    </tbody>
</table>
